pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    background: #ffffff;
    border: 0px;
}
body{
	
    background: #ccc;
}
.top{
	width: 100%;
    position: fixed;
    z-index: 100;
}
.content{
	
    background: #ccc;
    padding-top: 57px;
    padding-bottom: 40px;
}
.bottom{
	background: #ccc;
}
.error {
    color: red;
}
.right{
    color: green;
}
.edit-bar {
    width: 70%;
    padding: 30px 70px;
    border-radius: 6px;
    background: #fff;
}
a:hover{
	text-decoration:none;
}
.edit-bar img{
    width: 200px;
    height: 200px;
    border: 2px #000 solid;
}
.main-bar{
    float: left;
    width: 70%;
    background: #fff;
    padding: 20px;
}
.main-bar-author{
	 width: 100%;
    background: #fff;
    padding: 20px;
}
.side-bar{
    float: right;
    width: 30%;
    padding :2px 2px 0px;
    text-align: center;
    /*background: #eeeeee;*/
}
/* user-show页面 */
.user-show{
    background: #fff;
    padding: 20px 40px;
    float: left;
    width: 70%;
}
.user-show-list{
    width: 20%;
    float: left;
    margin-top: 30px;
}
.user-show-main{
    width: 80%;
    float: right;
    padding-left: 10px;
}
.user-show-top{
    text-align: center;
}
.user-show-bottom{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
}
.user-show-img{
    width: 150px;
    height: 150px;
}
.user-show-detail{
    width: 100%;
}
.user-show-detail li{
    font-size: 16px;
    list-style-type: none;
    padding: 8px;
}
.user-show-detail li>div:first-child{
    width: 40%;
    text-align: right;
    float: left;
    padding-right: 40px;
    font-weight: 700;
}
.user-show-detail li>div:last-child{
    width: 60%;
    float: right;
}
/* POST列表项 */
.post-list{

}
.post-top *{
    color: #555555;
    font-size: 18px;
}
.post-bottom {
    font-size: 12px;
}
.post-right{
    float: right;
}
/**/
/* START 话题分类导航栏 */
.topic-nav{
    padding: 0px;
    margin-bottom: 40px;
     
}
.topic-nav li{
    list-style: none;
    float: left;
    padding: 5px 10px;
    border-radius: 5px;
}
.topic-nav a{
    text-decoration: none;
    color: #000000;
}
.topic-nav .active{
    background: #000000;
}
.topic-nav .active{
    color: #ffffff;
}
.topic-nav li:hover{
    background: #cccccc;
    color: #000000;
}
.collapse .nav .button-rounded{
	margin: 7px;
}
.carousel-inner>.item{
	height: 300px;
}
/* 作者头像 */
.author-head{
	
	width: 32px;
	height: 32px;
	cursor: pointer;
}
.author-head img{
	
	width: 100%;
    height: 100%;
    border: 1px solid #ddd;
	border-radius: 50%;
}
.author-div{
	float: left;
	display: inline-block;
	width: 32px;
	height: 32px;
}
.author-content{
	margin: 2px 10px 0px 10px;
	float: left;
}
.author-left{
	height: 17px;
	float: left;
}
 .author-content span{
 	margin-right: 4px;
 	font-size: 17px;
 	
 }
 .post-bottom i{
 	margin: 2px;
 }
 .post-top{
    margin: 2px 0 4px;
    font-weight: bold;
 }
 /* .topic-img{
 	position: absolute;
    top: 50%;
    margin-top: -68px;
    right: 0;
 } */
.pwd_right{
	margin-left: 111px;
	cursor: pointer;
	
}
.pwd_right:hover{
	text-decoration: none;
}
.list-group i{
	margin-left: 6px;
	cursor: pointer;
}
.jumbotron h1{
	text-align:center
}
/* END 话题分类导航栏 */
.user-show-top p{
	margin: 10px 10px 10px 150px;
}
.user-show-detail li{
	margin-left: 150px;
}
.user-show-bottom a{
	margin-left: 150px;
}
.navbar-search {
    margin-top: 2px;
}
.pull-left {
    float: left;
}

@import url(http://fonts.googleapis.com/css?family=Cabin:400);

.webdesigntuts-workshop {
	height: 100%;
	position: absolute;
	text-align: center;
	width: 63%;
	margin-left: 90px;
}

.webdesigntuts-workshop:before,
.webdesigntuts-workshop:after {
	content: '';
	display: block;	
	height: 1px;
	left: 50%;
	margin: 0 0 0 -400px;
	position: absolute;
	width: 800px;
}



.webdesigntuts-workshop form {
	background: #111;
	background: -webkit-linear-gradient(#1b1b1b, #111);
	background: -moz-linear-gradient(#1b1b1b, #111);
	background: -o-linear-gradient(#1b1b1b, #111);
	background: -ms-linear-gradient(#1b1b1b, #111);
	background: linear-gradient(#1b1b1b, #111);
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #272727;
	display: inline-block;
	font-size: 0px;
	padding: 0px;
	position: relative;
	z-index: 1;
}

.webdesigntuts-workshop input {
	background: #222;
	background: -webkit-linear-gradient(#333, #222);	
	background: -moz-linear-gradient(#333, #222);	
	background: -o-linear-gradient(#333, #222);	
	background: -ms-linear-gradient(#333, #222);	
	background: linear-gradient(#333, #222);	
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
	width: 200px;
}

.ie .webdesigntuts-workshop input {
	line-height: 40px;
}

.webdesigntuts-workshop input::-webkit-input-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:-moz-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:focus {
	-webkit-animation: glow 800ms ease-out infinite alternate;
	-moz-animation: glow 800ms ease-out infinite alternate;
	-o-animation: glow 800ms ease-out infinite alternate;
	-ms-animation: glow 800ms ease-out infinite alternate;
	animation: glow 800ms ease-out infinite alternate;
	background: #222922;
	background: -webkit-linear-gradient(#333933, #222922);
	background: -moz-linear-gradient(#333933, #222922);
	background: -o-linear-gradient(#333933, #222922);
	background: -ms-linear-gradient(#333933, #222922);
	background: linear-gradient(#333933, #222922);
	border-color: #393;
	box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
	color: #efe;
	outline: none;
}

.webdesigntuts-workshop input:focus::-webkit-input-placeholder { 
	color: #efe;
}

.webdesigntuts-workshop input:focus:-moz-placeholder {
	color: #efe;
}

.webdesigntuts-workshop button {
	background: #222;
	background: -webkit-linear-gradient(#333, #222);
	background: -moz-linear-gradient(#333, #222);
	background: -o-linear-gradient(#333, #222);
	background: -ms-linear-gradient(#333, #222);
	background: linear-gradient(#333, #222);
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 80px;
}	

.webdesigntuts-workshop button:hover,
.webdesigntuts-workshop button:focus {
	background: #292929;
	background: -webkit-linear-gradient(#393939, #292929);	
	background: -moz-linear-gradient(#393939, #292929);	
	background: -o-linear-gradient(#393939, #292929);	
	background: -ms-linear-gradient(#393939, #292929);	
	background: linear-gradient(#393939, #292929);
	color: #5f5;
	outline: none;
}

.webdesigntuts-workshop button:active {
	background: #292929;
	background: -webkit-linear-gradient(#393939, #292929);
	background: -moz-linear-gradient(#393939, #292929);
	background: -o-linear-gradient(#393939, #292929);
	background: -ms-linear-gradient(#393939, #292929);
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}

@-webkit-keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@-moz-keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@-o-keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@-ms-keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}


