<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 注解驱动 -->
    <mvc:annotation-driven conversion-service="conversionService"/>

    <!-- 扫描组件包 -->
    <context:component-scan base-package="com.sang.topic.controller"/>
    <context:component-scan base-package="com.sang.topic.service"/>

    <!-- 设置静态资源 -->
    <mvc:resources mapping="/**" location="resource"/>

    <!-- 拦截器 -->
    <mvc:interceptors>
        <!-- 普通权限拦截 -->
        <mvc:interceptor>
            <!--发帖和回复-->
            <mvc:mapping path="/p"/>
            <mvc:mapping path="/c"/>
            <!--上传-->
            <mvc:mapping path="/upload/**"/>
            <bean class="com.sang.topic.controller.interceptor.PermissionInterceptor"/>
        </mvc:interceptor>
        <!-- 管理员权限拦截器 -->
        <mvc:interceptor>
            <!-- 调试中，调试后下面地址改为 /admin/** -->
            <mvc:mapping path="/admin/**"/>
            <bean class="com.sang.topic.controller.interceptor.AdminPermissionInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 注册数据格式化 -->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="formatterRegistrars">
            <set>
                <bean class="com.sang.topic.common.format.datetime.TopicDateFormatterRegistrar"/>
            </set>
        </property>
    </bean>

    <!-- Controller返回model或map类型 -->
    <bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
    <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>

    <!-- 文件上传配置 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="500000"/>
    </bean>

    <!-- 配置view前后缀 -->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>