<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sang.topic.dao.CommentsMapper">
    <resultMap id="BaseResultMap" type="com.sang.topic.common.entity.Comments">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="post_id" property="postId" jdbcType="INTEGER"/>
        <result column="discard" property="discard" jdbcType="INTEGER"/>
        <result column="user_username" property="userUsername" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, content, user_id, post_id, discard, user_username, create_time
  </sql>
    <!--  -->
    <select id="selectCount" resultType="Integer">
        SELECT count(*)
        FROM topic_comments
    </select>
    <select id="selectByPostId" parameterType="Integer" resultMap="BaseResultMap">
    SELECT *
    FROM topic_comments
    WHERE post_id=#{postId}
  </select>
    <select id="selectCommentsByPostIdAndPage" parameterType="Integer" resultSetType="SCROLL_SENSITIVE" resultMap="BaseResultMap">
        SELECT *
        FROM topic_comments
        WHERE post_id=#{postId}
    </select>
    <!--  -->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from topic_comments
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from topic_comments
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.sang.topic.common.entity.Comments">
    insert into topic_comments (id, content, user_id, 
      post_id, discard, user_username, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{postId,jdbcType=INTEGER}, #{discard,jdbcType=INTEGER}, #{userUsername,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.sang.topic.common.entity.Comments">
        insert into topic_comments
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="postId != null">
                post_id,
            </if>
            <if test="discard != null">
                discard,
            </if>
            <if test="userUsername != null">
                user_username,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="postId != null">
                #{postId,jdbcType=INTEGER},
            </if>
            <if test="discard != null">
                #{discard,jdbcType=INTEGER},
            </if>
            <if test="userUsername != null">
                #{userUsername,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.sang.topic.common.entity.Comments">
        update topic_comments
        <set>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="postId != null">
                post_id = #{postId,jdbcType=INTEGER},
            </if>
            <if test="discard != null">
                discard = #{discard,jdbcType=INTEGER},
            </if>
            <if test="userUsername != null">
                user_username = #{userUsername,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sang.topic.common.entity.Comments">
    update topic_comments
    set content = #{content,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      post_id = #{postId,jdbcType=INTEGER},
      discard = #{discard,jdbcType=INTEGER},
      user_username = #{userUsername,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>