<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sang.topic.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.sang.topic.common.entity.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="ban" property="ban" jdbcType="INTEGER" />
    <result column="scores" property="scores" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="change_pwd_time" property="changepwdtime" jdbcType="TIMESTAMP" />
    <result column="register_time" property="registertime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="UserRoleResultMap" type="com.sang.topic.common.entity.User" extends="BaseResultMap">
    <association property="role" javaType="com.sang.topic.common.entity.Role">
      <id property="id" column="roleId"/>
      <result property="name" column="roleName"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, email, phone, photo, role_id, ban,scores,status,change_pwd_time,register_time
  </sql>
  <sql id="u_Base_Column_List" >
    u.id, u.username, u.password, u.email, u.phone, u.photo, u.role_id, u.ban,u.scores,u.status,u.change_pwd_time,u.register_time
  </sql>
  <!--  -->
  <select id="selectCount" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM topic_user
  </select>
  <select id="selectUserByPage" resultMap="UserRoleResultMap" resultSetType="SCROLL_SENSITIVE"
          parameterType="com.sang.topic.common.entity.User">
    SELECT
    u.*, r.name as roleName
    FROM topic_user as u,
    topic_role as r
    WHERE u.role_id = r.id
  </select>
  <select id="selectOrderUsers" resultMap="BaseResultMap">
       SELECT DISTINCT
			<include refid="u_Base_Column_List"/>
		FROM
			topic_post AS p
		INNER JOIN (
			SELECT
				SUM(agree) AS agree,
				user_id
			FROM
				topic_post
			GROUP BY
				user_id
		) AS a ON a.user_id = p.user_id
		INNER JOIN topic_user AS u ON u.id = p.user_id
		ORDER BY
			a.agree DESC
		LIMIT 6
    </select>
  <select id="selectByUsernameAndPassword" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from topic_user
    where username = #{username} and password = #{password}
  </select>
  <select id="selectCountByUsername" parameterType="String" resultType="Integer">
    select
    count(*)
    from topic_user
    where username=#{username}
  </select>
   <select id="selectIDByUserName" parameterType="String" resultType="Integer">
    select
    role_id
    from topic_user
    where username=#{username}
  </select>
  <select id="selectByUsername" parameterType="String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from topic_user
    where username=#{username}
  </select>
  <!--  -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from topic_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from topic_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sang.topic.common.entity.User" >
    insert into topic_user (id, username, password, 
      email, phone, photo, 
      role_id, ban,scores,status,
      change_pwd_time,register_time)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, 
      #{roleId,jdbcType=INTEGER}, #{ban,jdbcType=INTEGER}, #{scores,jdbcType=INTEGER},
      #{status,jdbcType=VARCHAR}, #{changepwdtime,jdbcType=TIMESTAMP}, #{registertime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sang.topic.common.entity.User" >
    insert into topic_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="photo != null" >
        photo,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="ban != null" >
        ban,
      </if>
      <if test="scores != null" >
        scores,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="changepwdtime != null" >
        change_pwd_time,
      </if>
      <if test="registertime != null" >
        register_time,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="ban != null" >
        #{ban,jdbcType=INTEGER},
      </if>
      <if test="scores != null" >
        #{scores,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="changepwdtime != null" >
        #{changepwdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="registertime != null" >
        #{registertime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sang.topic.common.entity.User" >
    update topic_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="ban != null" >
        ban = #{ban,jdbcType=INTEGER},
      </if>
      <if test="scores != null" >
        scores = #{scores,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="changepwdtime != null" >
        change_pwd_time = #{changepwdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="registertime != null" >
        register_time = #{registertime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sang.topic.common.entity.User" >
    update topic_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=INTEGER},
      ban = #{ban,jdbcType=INTEGER},
      scores = #{scores,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      change_pwd_time = #{changepwdtime,jdbcType=TIMESTAMP},
      register_time = #{registertime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>